.navbar {
  background-color: #c80113;
  padding-left: 15%;
  padding-right: 15%;
}
.navbar-brand {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-right: 0;
  /* border-top: 3px solid white;
  border-bottom: 3px solid white; */
}
.btn {
  font-size: 18px;
  margin-right: 20px;
}
.navbar-nav>li, a {
  color: white;
  font-size: 16px;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #c80113;
  border-top: 3px solid black;
  text-shadow: 0 0 black;
}

.jumbotron {
  margin-bottom: 0;
  font-family: 'Itim', cursive;
}

.container>p {
  font-size: 18px;
  padding-left: 2%;

}

.row {
  text-align: center;

}

.method1, .method2 {
  display: block;
  font-size: 28px;
  font-family: 'Itim', cursive;
}

.first {
  border-right: 2px solid grey;
}

 .first>img {
  padding-top: 5%;
}

.first>ol {
  padding-left: 30%;
}

.first>ol>li{
  color: black;
  text-align: left;
  font-size: 20px;
  margin: 0.5px;
  font-family: 'Itim', cursive;
}

.second>img {
  padding-top: 5%;
}

.second>ol {
  padding-left: 30%;
}

.second>ol>li{
  color: black;
  text-align: left;
  font-size: 20px;
  margin: 0.5px;
  font-family: 'Itim', cursive;
}
