.navbar {
  background-color: #c80113;
  padding-left: 15%;
  padding-right: 15%;
}
.navbar-brand {
  font-size: 24px;
  color: white;
  font-weight: 500;
  margin-right: 0;
  /* border-top: 3px solid white;
  border-bottom: 3px solid white; */
}

.media-body {

}

.btn {
  font-size: 18px;
  margin-right: 20px;
}
.navbar-nav>li, a {
  color: white;
  font-size: 16px;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #c80113;
  border-top: 3px solid black;
  text-shadow: 0 0 black;
}

.jumbotron {
  margin-bottom: 0;
  font-family: 'Itim', cursive;
}

.container>p {
  font-size: 18px;
  padding-left: 2%;

}

.row>.first, .row>.second {
  text-align: center;

}

.method1, .method2 {
  display: block;
  font-size: 28px;
  font-family: 'Itim', cursive;
}

.first {
  border-right: 2px solid grey;
}

 .first>img {
  padding-top: 5%;
}

.first>ol {
  padding-left: 30%;
}

.first>ol>li{
  color: black;
  text-align: left;
  font-size: 20px;
  margin: 0.5px;
  font-family: 'Itim', cursive;
}

.second>img {
  padding-top: 5%;
}

.second>ol {
  padding-left: 30%;
}

.second>ol>li{
  color: black;
  text-align: left;
  font-size: 20px;
  margin: 0.5px;
  font-family: 'Itim', cursive;
}

.flogin {
  padding-top: 10%;
  padding-bottom: 20%;

}

.form-signin {
  font-family: 'Itim', cursive;
  width: 100%;
  max-width: 330px;
  padding-top: 7%;
  padding-bottom: 15%;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 18x;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 18px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18px;
}

a:hover {
  color: red;
}
